*{
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDEDED;
}


.container{
  max-width: 600px;
  margin: 0px auto;
}

.card{
  padding: 25px;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 15px 0px;
}

.card h4{
  padding: 10px;
  background-color: #420888;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 15px;
}

.card.reverse{
  background-color: #000000;
  color: #ffffff;
}

.delete-btn{
  text-align: right;
}

.delete-btn button{
  background-color: transparent;
  border: navajowhite;
  cursor: pointer;
}

.num-text-flex{
  display: flex;
  align-items: center;
  gap: 25px;
}

.num-display{
  width: 50px;
  height: 50px;
  background-color: #005555;
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  line-height: 50px;
}

.feedback-stats{
  display: flex;
  justify-content: space-between;
  color: #000355;
  margin-top: 25px;
}

form h2{
  font-size: 20px;
  color: #323232;
  text-align: center;
  margin-bottom: 15px;
}

.input-group{
  display: flex;
  justify-content: space-between;
}

.input-group input{
  width: 80%;
  height: 30px;
  padding-left: 15px;
  border: 2px solid #005555;
  border-radius: 5px;
}

.input-group input:focus{
  outline: none;
}

.btn{
  width: 15%;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

.btn.btn-primary{
  background-color: #005555;
}

.btn.btn-secondary{
  background-color: #170055;
}

.btn:disabled{
  background-color: grey;
}

.message{
  color: rgb(248, 55, 55);
  margin-top: 15px;
}
